body {
    background-color: beige;
}

.header {
    grid-area: header;
}
.side {
    grid-area: side;
}


.footer {
    grid-area: footer;
}
.central {
    grid-area: central;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'header header'
        'side central'
        'footer footer';
    grid-template-columns: 20% 80%;
    grid-gap: 10px;
    padding: 10px;
}