body {
    background-color: lightblue;
}

.mat {  /* betting mat */
    margin: auto;
    padding: 10 px;
  clear: both;
    /* display: flow-root; */
    /* overflow: hidden; */
}

.left {
    margin: auto;
    padding: 10px;
    float: left;
    /* display: inline-block; */
    border: 1px solid black;
    background-color: bisque;
}

.center {
    margin: auto;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.clear {
    clear: both;
}

.matched {
    border-color: red;
    border-width: 5px;
    border-style:dotted
}

.nomatch {
    border-color: white;
    border-width: 5px;
    border-style: solid;
}